/* Reset padding dan margin default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styling wrapper atau container */
  .container {
    width: 600px;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  /* Styling header */
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  /* Styling judul */
  h1 {
    font-size: 24px;
  }
  
  /* Styling main content */
  .main {
    padding: 20px;
  }
  
  /* Styling paragraf dalam main content */
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Styling footer */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }